{% comment %}
Git Setup instructions rely on Shell instructions. If you don't include
Shell instructions as part of your workshop website, make sure to adjust
the text below accordingly.
{% endcomment %}
<div id="git">
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>. You will need a
    <a href="https://help.github.com/articles/supported-browsers/">supported
    web browser</a>.
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <p>
          Git should be installed on your computer as part of your Bash
          install (see the
          <a href="#shell">Shell installation instructions</a>).
        </p>
        <p> Proceed to install <a href="https://cli.github.com/">Github CLI</a> by downloading the installer. </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
          <p>
              <strong>For macOS</strong>, install Git for Mac
              through Xcode.
            <ol class="org-ol">
                <li>Open a terminal window</li>
                <li><p>
                    Type
                </p>
                <div class="org-src-container">
                    <pre class="src src-bash">git --version
                    </pre>
                </div>
                </li>
                <ul class="org-ul">
                    <li>If you do not have git, it will automatically asks you whether you
                        want to install Xcode. Confirm the installation and you will get
                        git installed.</li>
                    <li>If you have git, then it should display the version of git you've got
                        installed.</li>
                </ul>
            </ol>
          </p>
            <p>
                The version provided by Apple may be a few versions behind, but that's not
                a problem for this course if it's newer than version 2.28. If you need or
                want to obtain a newer version, then <a href="https://www.atlassian.com/git/tutorials/install-git">install git with a different method</a>.
            </p>

            <p> Once you've installed git, proceed to install <a href="https://cli.github.com/">Github CLI</a>.
                The easiest way is through <a href="https://brew.sh/">homebrew</a>. First you need to install homebrew:
                <ol>
                    <li>Open a terminal window</li>
                    <li><p> Type </p>
                        <div class="org-src-container">
                            <pre class="src src-bash">/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
                            </pre>
                        </div>
                        <p> Follow the installation prompts </p>
                    </li>
                    <li><p> Once homebrew is installed, you can then install Github's CLI</p>
                        <div class="org-src-container">
                            <pre class="src src-bash">brew install gh
                            </pre>
                        </div>
                    </li>
                </ol>
            </p>

      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          If Git is not already available on your machine you can try to
          install it via your distro's package manager. For Debian/Ubuntu run
          <code>sudo apt-get install git</code> and for Fedora run
          <code>sudo dnf install git</code>.
        </p>
        <p> Then proceed to install <a href="https://github.com/cli/cli#linux--bsd">Github's CLI</a> following the option according to your distribution.</p>
      </article>
    </div>
  </div>
</div>
